In [2]:
import pandas as pd
import numpy as np

#### Station 1: CHICAGO O'HARE INTERNATIONAL AIRPORT Lat: 41.995 Lon: -87.933 Elev: 662 ft. above sea level
#### Station 2: CHICAGO MIDWAY INTL ARPT Lat: 41.786 Lon: -87.752 Elev: 612 ft. above sea level

In [6]:
train_data   = pd.read_csv('./assets/train.csv')
test_data    = pd.read_csv('./assets/test.csv')

In [10]:
train_data.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [8]:
test_data.head()

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [9]:
test_data.shape, train_data.shape

((116293, 11), (10506, 12))

In [65]:
! pip install mpu

Requirement already satisfied: mpu in /Users/veraburfield/anaconda3/envs/dsi/lib/python3.6/site-packages
You are using pip version 9.0.3, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [66]:
distances_to_1 = []
distances_to_2 = []

for i in range(len(train_data['Latitude'])):
    latitude = train_data['Latitude'][i]
    longitude = train_data['Longitude'][i]
    distance_to_1 = mpu.haversine_distance((latitude, longitude), (41.995, -87.933))
    distances_to_1.append(distance_to_1)
    distance_to_2 = mpu.haversine_distance((latitude, longitude), (41.786, -87.752))
    distances_to_2.append(distance_to_2)
    
train_data['To_station_1'] = distances_to_1
train_data['To_station_2'] = distances_to_2

In [67]:
distances_to_1 = []
distances_to_2 = []

for i in range(len(test_data['Latitude'])):
    latitude = test_data['Latitude'][i]
    longitude = test_data['Longitude'][i]
    distance_to_1 = mpu.haversine_distance((latitude, longitude), (41.995, -87.933))
    distances_to_1.append(distance_to_1)
    distance_to_2 = mpu.haversine_distance((latitude, longitude), (41.786, -87.752))
    distances_to_2.append(distance_to_2)
    
test_data['To_station_1'] = distances_to_1
test_data['To_station_2'] = distances_to_2

In [68]:
station = []

for i in range(len(train_data['To_station_1'])):
    if train_data['To_station_1'][i]-train_data['To_station_2'][i] > 0:
        station.append(2)
    if train_data['To_station_1'][i]-train_data['To_station_2'][i] < 0:
        station.append(1)


train_data['Station'] = station

In [69]:
station = []

for i in range(len(test_data['To_station_1'])):
    if test_data['To_station_1'][i]-test_data['To_station_2'][i] > 0:
        station.append(2)
    if test_data['To_station_1'][i]-test_data['To_station_2'][i] < 0:
        station.append(1)


test_data['Station'] = station

In [70]:
#train_data['Which_Station'] = train_data['To_station_1']-train_data['To_station_2']

In [71]:
train_data['Station'].value_counts()

2    7208
1    3298
Name: Station, dtype: int64

In [72]:
test_data['Station'].value_counts()

2    80892
1    35401
Name: Station, dtype: int64

In [73]:
train_data.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,To_station_1,To_station_2,Station
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,11.797392,19.191102,1

In [74]:
test_data.head(1)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,To_station_1,To_station_2,Station
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,11.797392,19.191102,1

In [75]:
train_data.drop(columns=['To_station_1', 'To_station_2'], axis=1, inplace=True)
test_data.drop(columns=['To_station_1', 'To_station_2'], axis=1, inplace=True)

In [76]:
train_data.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Station
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,1

In [77]:
test_data.head(1)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,Station
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1

In [79]:
train_data.to_csv('train_data_new.csv', index = False)
test_data.to_csv('test_data_new.csv', index = False)