In [4]:
import pandas as pd
import numpy as np

In [5]:
train_data   = pd.read_csv('./train_data_new.csv')
test_data    = pd.read_csv('./test_data_new.csv')

In [7]:
train_data.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Station
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,1

In [8]:
train_station1 = train_data[train_data['Station']==1]
print(train_station1.shape)
train_station2 = train_data[train_data['Station']==2]
print(train_station2.shape)

(3298, 13)
(7208, 13)

In [9]:
test_station1 = test_data[test_data['Station']==1]
print(test_station1.shape)
test_station2 = test_data[test_data['Station']==2]
print(test_station2.shape)

(35401, 12)
(80892, 12)

In [10]:
test_station1.to_csv('test_station1.csv', index = False)
test_station2.to_csv('test_Station2.csv', index = False)
train_station1.to_csv('train_station1.csv', index = False)
train_station2.to_csv('train_Station2.csv', index = False)