In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data_station1   = pd.read_csv('./train_station1.csv')
train_data_station2   = pd.read_csv('./train_Station2.csv')

test_data_station1   = pd.read_csv('./test_station1.csv')
test_data_station2   = pd.read_csv('./test_Station2.csv')

weather_data = pd.read_csv('./assets/weather.csv')

In [3]:
#maybe impute instead?
weather_data.replace('M', 0, inplace=True)
weather_data.replace('T', 0, inplace=True)
weather_data.replace(' T', 0, inplace=True)
weather_data.replace('  T', 0, inplace=True)

In [4]:
weather_data.drop(columns=['Water1', 'SnowFall', 'Depth'], axis=1, inplace=True)

In [6]:
weather_data.shape

(2944, 19)

In [7]:
weather_data.columns

Index(['Station', 'Date', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint',
       'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'CodeSum',
       'PrecipTotal', 'StnPressure', 'SeaLevel', 'ResultSpeed', 'ResultDir',
       'AvgSpeed'],
      dtype='object')

In [8]:
weather_data.drop(columns=['Sunrise','Sunset'], axis=1, inplace=True)
#weather_data = pd.get_dummies(weather_data, columns=['CodeSum'])

weather_data['SeaLevel'] = weather_data['SeaLevel'].astype(float)
weather_data['AvgSpeed'] = weather_data['AvgSpeed'].astype(float)
weather_data['PrecipTotal'] = weather_data['PrecipTotal'].astype(float)
weather_data['StnPressure'] = weather_data['StnPressure'].astype(float)
weather_data['WetBulb'] = weather_data['WetBulb'].astype(float)
weather_data['Depart'] = weather_data['Depart'].astype(float)

In [9]:
# we only care about Shower(SH), drizzle(DZ), rain(RA)
# Thunderstorm(TS), Mist(BR) = Each of these will reduce the number of mosquitoes
patterns = ['SH', 'DZ', 'RA', 'TS', 'BR']

# iterate through all the CodeSum to find the columns with the patterns list
weather_data['CodeSum'] = weather_data['CodeSum'].apply(lambda x: [t for t in x.split('0') 
                                                                   if t in patterns])
# converts everything from the lists that were created in the previous code into strings
weather_data['CodeSum'] = weather_data['CodeSum'].apply(lambda x: 
                                                x if not isinstance(x, list) else x[0] if len(x) else 'None')

weather_data.CodeSum.value_counts()

None    2520
RA       296
BR       110
TS        10
DZ         8
Name: CodeSum, dtype: int64

In [10]:
new =[]
for i in weather_data['Tavg']:
    new.append(int(i))
weather_data['Tavg'] = new

new =[]
for i in weather_data['Heat']:
    new.append(int(i))
weather_data['Heat'] = new

new =[]
for i in weather_data['Cool']:
    new.append(int(i))
weather_data['Cool'] = new

In [12]:
weather_data.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14.0,51,56.0,0,2,None,0.0,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,0.0,51,57.0,0,3,None,0.0,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3.0,42,47.0,14,0,BR,0.0,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,0.0,42,47.0,13,0,None,0.0,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2.0,40,48.0,9,0,None,0.0,29.39,30.12,11.7,7,11.9

In [13]:
station1 = weather_data[weather_data['Station']==1]
print(station1.shape)
station2 = weather_data[weather_data['Station']==2]
print(station2.shape)

(1472, 17)
(1472, 17)

In [14]:
train_data_station1 = train_data_station1.merge(station1,on="Date")
train_data_station2 = train_data_station2.merge(station2,on="Date")
test_data_station1 = test_data_station1.merge(station1,on="Date")
test_data_station2 = test_data_station2.merge(station2,on="Date")

In [16]:
train_data = pd.concat([train_data_station1, train_data_station2])
test_data = pd.concat([test_data_station1, test_data_station2])

In [17]:
train_data.shape, test_data.shape

((10506, 29), (116293, 28))

In [18]:
train_data.to_csv('train_final.csv', index = False)
test_data.to_csv('test_final.csv', index = False)